/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body
{
    width: 100%;
    background-color: #444c57;
}

input[type='file'] {
  color: transparent;
}

img
{
    max-width: 100%;
}

a
{
    text-decoration: none;
}

ul
{
    padding: 0px;
}

li
{
    list-style-type: none;
}

main
{
    width: 80%;
    margin: auto;
}

header h1
{
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    font-family: 'Sancreek', cursive;
}

nav
{
    background-color: #3c444e;
    border-radius: 10px;
    box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.2), 1px 1px 1px rgba(225, 225, 225, 0.1) inset, 1px 0px 0px rgba(225, 225, 225, 0.1);
}

nav ul
{
    padding: 13px;
    position: relative;
}

nav ul li
{
    display: inline-block;
    margin-right: 2%;
    width: 3%;
}

nav ul #visuel
{
    position: absolute;
    right: 71px;
}

nav ul li:last-child
{
    position: absolute;
    right: 0px;
}

nav ul li figure figcaption
{
    text-align: center;
    font-size: 12px;
}

nav ul li figure a
{
    color: #D1D7DF;
}

h2
{
    text-align: center;
}

#form_add
{
    width: 41%;
    margin: auto;
}

#form_add form .form-group #input_title
{
    width: 55%;
    margin: auto;
}

.text_align_center_label
{
    display: block;
    text-align: center;
}

#form_add form .form-group #englobe_input_select_file
{
    width: 31%;
    margin: auto;
    margin-top: 11px;
}

#form_add form .form-group textarea
{
    background-color: #323232;
}

#form_add form .form-group input[type='text']
{
    background-color: #323232;
}

#form_add form .form-group #englobe_input_select_file div
{
    display: inline-block;
}

#englobe_input_file
{
    width: 55%;
}

#input_submit_article
{
    width: 30%;
    display: block;
    margin: auto;
    background-color: #0899d4;
    border: 0px;
}

#div_table_article
{
    margin-top: 80px;
}

#div_table_article #table_article
{
    width: 70%;
    margin: auto;
}

#div_table_article #table_article th
{ 
    background: #fffdfa; 
    color: #818181; 
    text-align: left; 
    padding: 7px 10px; 
    border-bottom:solid 1px #d2d1cb;
}

#div_table_article #table_article td
{ 
    background: #fbfcfc;  
    border-bottom:solid 1px #e0e0e0; 
    padding: 8px 10px; 
}

#div_table_article #table_article tr.odd td
{ 
    background: #f8f8f8; 
}

#div_table_article #table_article tr:hover td
{ 
    background: #fff9e1; 
}


a.ico 
{ 
    color: #9d9c9a; 
    font-size: 10px; 
    text-decoration: none; 
    padding: 0 0 0 14px; 
    background-repeat: no-repeat; 
    background-position: 0 0; 
}

a.ico:hover 
{ 
    color: #333;
}

a.del 
{ 
    background-image: url(../img//del.gif)
}

a.edit 
{ 
    background-image: url(../img/edit.gif); 
    margin-left:14px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
